<div id="map-canvas"></div>

<form ng-submit="postReport()">
	<input type="text" class="form-control input-lg text-center" placeholder="Type of Crime" ng-model="report.title">

	<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="report.description">
	<input type="text" class="form-control input-lg text-center" placeholder="Place" ng-model="report.place">

	<input type="text" class="form-control input-lg" id="latitude" ng-model="report.latitude">

	<input enter="passCoordinates()" type="text" class="form-control input-lg" id="longitude" ng-model="report.longitude">


	<input type="submit" value="Report!">
</form>