<div id="map-canvas"></div>

<form ng-submit="signup()">
	<label for="name" >Name : <input type="text" id="name" ng-model="user.name"></label><br>
	<label for="email" >Email : <input type="email" id="email" ng-model="user.email"></label><br>
	<label for="password" >Password : <input type="password" id="password" ng-model="user.password"></label><br>
	<label for="phone" >Phone : <input type="tel" id="phone" ng-model="user.phone"></label><br>
	Contact via </br>
	SMS: <input type="checkbox" ng-model="user.contact.sms"> <br/>
	Email: <input type="checkbox" ng-model="user.contact.email"> <br/>
	<input type="submit" value="Sign Up">
</form>